@page
@model The_Post.Areas.Identity.Pages.Account.Manage.SubscriptionEmailSentModel
@{
    ViewData["Title"] = "Check Your Email";
}

<div class="container">
    <h2>Confirmation Email Sent</h2>
    <p class="mt-2 text-center">We've sent you an <strong>email with a confirmation link . </strong> Please check your <strong>inbox</strong> and confirm your subscription.</p>
</div>