@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container py-3 bg-dark text-white">
    <h2 class="fw-bold text-center mb-6" style="letter-spacing: 2px;text-transform: uppercase;">Privacy Policy</h2>
    <hr />

    <p>The Post provides this privacy policy notice, explaining the way your personal information is collected and used.</p>

    <h4 class="fw-semibold mt-4 text-danger">Collection of Routine Information</h4>
    <p>
        The Post tracks basic information about its visitors. This information includes, but is not limited to, registered user information, subscription statistiscs , timestamps, and referring pages.
        None of this information can personally identify specific visitors to The Post. The information is tracked for routine administration and maintenance purposes and is anonymized.
    </p>
    
    <h4 class="fw-semibold mt-4 text-danger">Local Storage</h4>
    <p>
        The Post uses local storage to store the visitor’s cookie preference.
        This is only stored locally and never leaves the visitor’s browser.
    </p>

    <h4 class="fw-semibold mt-4 text-danger">Links to Third-Party Websites</h4>
    <p>
        The Post may includes links to third-party websites, for your use and reference. The Post is not responsible for the privacy policies on these websites.
        You should be aware that the privacy policies of these websites may differ from The Post's.
    </p>

    <h4 class="fw-semibold mt-4 text-danger">Security</h4>
    <p>
        The security of your personal information is important to The Post, but remember that no method of transmission over the Internet,
        or method of electronic storage, is 100% secure. While The Post strives to use commercially acceptable means to protect your personal information,
        The Post cannot guarantee its absolute security.
    </p>

    <h4 class="fw-semibold mt-4 text-danger">Changes To This Privacy Policy</h4>
    <p>
        This Privacy Policy is effective as of <strong>March 3, 2025</strong> and will remain in effect except with respect to any changes
        in its provisions in the future, which will be in effect immediately after being posted on this page.
    </p>
    <p>
        The Post reserves the right to update or change this Privacy Policy at any time, and you should check this Privacy Policy periodically.
    </p>

</div>


